.principal{
    padding: 20px;
}
.tituloPrincipal{
    padding-left: 30px;
}
.tituloCentralizado{
    text-align: center;

} 
#banner{
    width: 100%;
}
p{
    text-align: center;
}
em strong{
    color: red;
}
#mision{
    font-size: 20px;
}


.diferenciales{
    background: teal;
    padding: 50px;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 20px;
}
.items{
    font-style: italic;
}
.imgdiferenciales{
    width: 50%;

}
